<h2><%= @merchant.name %></h2>
<% if current_merchant_user %>
  <h3><%= link_to "Merchant Items", "/merchant/items" %></h3>
<% elsif current_admin_user%>
  <h3><%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %></h3>
<% end %>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<section class="grid-container" id="pending-orders">
  <% @merchant.pending_orders.each do |order| %>
    <section class="grid-item" id="order-<%= order.id %>">
      <% if current_merchant_user %>
        <li>Order ID: <%= link_to order.id, "/merchant/orders/#{order.id}" %></br>
      <% elsif current_admin_user %>
        <li>Order ID: <%= link_to order.id, "/admin/users/#{order.user_id}/orders/#{order.id}" %></br>
      <% end %>
      Created: <%= order.created_at %></br>
      Total Quantity: <%= order.quantity_from(@merchant) %></br>
      Total Value: <%= number_to_currency(order.total_from(@merchant)) %></br></li>
    </section>
  <% end %>
</section>