<h2><%= @merchant.name %></h2>
<h3> <%= link_to "Merchant Items", "/merchant/items" %></h3>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<section id="pending-orders">
  <% @merchant.pending_orders.each do |order| %>
    <section id="order-<%= order.id %>">
      <li>Order ID: <%= link_to order.id, "/merchant/orders/#{order.id}" %></br>
      Created: <%= order.created_at %></br>
      Total Quantity: <%= order.total_quantity %></br>
      Total Value: <%= order.grandtotal %></br></li>
    </section></br>
  <% end %>
</section>