<section id="all-orders">
  <% @orders.each do |order| %>
    <li><section id="order-<%= order.id %>">
      Name: <%= link_to "#{order.user.name}", "/admin/users/#{order.user_id}" %></br>
      Order ID: <%= order.id %></br>
      Created: <%= order.created_at %></br>
      <% if order.packaged? %>
        <%= button_to "Ship Order", "/admin/orders/:id", method: :patch %>
      <% end %>
    </section></li></br>
  <% end %>
</section>