<section id="order-data">
  <h1>Order ID: <%= @order.id %></h1>
  <p>Created: <%= @order.created_at %></p>
  <p>Updated: <%= @order.updated_at %></p>
  <p>Status: <%= @order.status.capitalize %></p>
</section>

<section class="grid-container">
  <% @order.item_orders.each do |item_order| %>
    <section class="grid-item" id="item-<%= item_order.item.id %>">
      <h4><%= item_order.item.name %></h4>
      <p><%= item_order.item.description %></p>
      <p><img src =<%= item_order.item.image %>></p>
      <p><%= number_to_currency(item_order.price) %></p>
      <p><%= item_order.quantity %></p>
      <p><%= number_to_currency(item_order.subtotal) %></p>
    </section>
  <% end %>
</section>

