<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchant/items/new" if current_employee_at(@merchant) %></p>
<% else %>
  <h1>All Items</h1>
<% end %>

<h3>Most Popular</h3>
<p><section class="grid-container" id="top-5">
  <% @items.by_quantity_ordered(5, "DESC").each do |item| %>
  <section class="grid-item">
      <ul><%= item.name %>: <%= item.quantity_sold %></ul>
  </section>
  <% end %>
</section>
<h3>Least Popular</h3>
<p><section class="grid-container" id="bottom-5">
  <% @items.by_quantity_ordered(5, "ASC").each do |item| %>
  <section class="grid-item">
    <ul><%= item.name %>: <%= item.quantity_sold %></ul>
  </section>
  <% end %>
</section></p>

<section class="grid-container">
  <% @items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <%= link_to image_tag(item.image), "/items/#{item.id}", id: "#{item.id}-image" %>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%= number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
        <% if item.active? %>
          <p>Active</p>
          <%= button_to "Deactivate Item", "/merchant/items/#{item.id}/toggle_status", method: :patch if current_employee_at(item.merchant) %>
        <% else %>
          <p>Inactive</p>
          <%= button_to "Activate Item", "/merchant/items/#{item.id}/toggle_status", method: :patch if current_employee_at(item.merchant) %>
        <% end %>
        <%= button_to "Edit Item", "/merchant/items/#{item.id}/edit", method: :get if current_employee_at(item.merchant) %>
        <%= button_to "Delete Item", "/merchant/items/#{item.id}", method: :delete if item.no_orders? && current_employee_at(item.merchant) %>
    </section>
    <% end %>
</section>
