<% if @merchant %>
  <h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}"%><span> Items</span></h1>
  <p align="center"><%= link_to "Add New Item", "/merchant/items/new" if current_merchant_user %></p>
<% else %>
  <h1>All Items</h1>
<% end %>

<p><section id="top-5">
  <h3>Most Popular</h3>
  <% @items.by_quantity_ordered(5, "DESC").each do |item| %>
    Name: <%= item.name %></br>
    Total Sold: <%= item.quantity_sold %></br>
  <% end %>
</section></p>
<p><section id="bottom-5">
  <h3>Least Popular</h3>
  <% @items.by_quantity_ordered(5, "ASC").each do |item| %>
    Name: <%= item.name %></br>
    Total Sold: <%= item.quantity_sold %></br>
  <% end %>
</section></p>

<section class="grid-container">
  <% @items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <%= link_to image_tag(item.image), "/items/#{item.id}", id: "#{item.id}-image" %>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
      <% if item.active? %>
        <p>Active</p>
        <%= button_to "Deactivate Item", "/merchant/items/#{item.id}", method: :patch if current_merchant_user %>
      <% else %>
        <p>Inactive</p>
        <%= button_to "Activate Item", "/merchant/items/#{item.id}", method: :patch if current_merchant_user %>
      <% end %>
      <%= button_to "Delete Item", "/merchant/items/#{item.id}", method: :delete if item.no_orders? && current_merchant_user %>
    </section>
    <% end %>
</section>
