<h1>All Users</h1>

<section class="grid-container">
  <% @users.each do |user| %>
    <section class="grid-item" id="user-<%= user.id %>">
      <p><%= link_to user.name, "/admin/users/#{user.id}" %></p>
      <p>Account Since: <%= user.created_at %></p>
      <p>Type: <%= user.role %></p>
      <% if user.active? %>
        <%= button_to "Deactivate User", "/admin/users/#{user.id}/toggle_active", method: :patch unless user.admin? %>
      <% else %>
        <%= button_to "Activate User", "/admin/users/#{user.id}/toggle_active", method: :patch unless user.admin? %>
      <% end %>
    </section>
  <% end %>
</section>