<section id="profile-data">
  <h1><%= @display_user.name %></h1>
  <h3><%= @display_user.email %></h3>
  <p><%= @display_user.address %></p>
  <p><%= @display_user.city %>, <%= @display_user.state %> <%= @display_user.zip %></p>
</section>