<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Home", "/" %>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Cart: #{cart.total_items}", "/cart" unless current_admin_user || current_merchant_user %>
      <% if current_admin_user %>
        <%= link_to "All Users", "/admin/users" %>
        <%= link_to "Admin Dashboard", "/admin" %>
      <% elsif current_merchant_user %>
        <%= link_to "Merchant Dashboard", "/merchant" %>
      <% elsif current_user %>
        <%= link_to "My Profile", '/profile' %>
      <% else %>
        <%= link_to "Log In", "/login" %>
        <%= link_to "Register", "/register" %>
      <% end %>
      <%= link_to "Log Out", "/logout" if current_user %>
    </nav>
    <% if current_user %>
      <h4>Logged in as <%= current_user.name %></h4>
    <% end %>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
